.footer {
  padding: 50px 0px;
  background-color: #222222;
  // .footer__container

  &__container {
  }

  // .footer__grid

  &__grid {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  // .footer__col

  &__col {
  }

  // .footer__logo

  &__logo {
    color: $whiteFont;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
  }

  // .footer__text

  &__text {
    color: #ffffff99;
    max-width: 300px;
    text-wrap: balance;
    font-size: 16px;
    margin-bottom: 30px;
  }

  // .footer__copyright

  &__copyright {
    color: #ffffff99
  }

  // .footer__title

  &__title {
    color: $whiteFont;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
  
  }

  // .footer__nav

  &__nav {
    display: flex;
    flex-direction: column;

    a{
      display: block;
      color: #ffffff99;
      font-size: 16px;
      transition: $animation_speed;

      &:not(:last-child){
        margin-bottom: 20px;
      }

      &:hover{
        color: $whiteFont;
      }
    }
  }

  // .footer__social

  &__social {
    display: flex;
    flex-direction: column;
      display: block;
      color: #ffffff99;
      font-size: 16px;
      transition: $animation_speed;

      &:not(:last-child){
        margin-bottom: 20px;
      }

      &:hover{
        color: $whiteFont;
      }
  }

  // .footer__author

  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-top: 50px;
    border-top: 1px solid rgba($color: $whiteFont, $alpha: .2);
    font-size: 16px;
    color: $whiteFont;
  }
}
