.header {
  // .header__top

  &__top {
  }
}
.header-top {
  // .header-top__container

  &__container {
  }

  // .header-top__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($color: $mainColor, $alpha: 0.2);
  }

  // .header-top__left

  &__left {
  }

  // .header-top__nav

  &__nav {
    display: flex;
    align-items: center;
  }

  // .header-top__item

  &__item {
    position: relative;

    &:hover {
      .sub-menu {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0px);
      }
    }
  }

  // .header-top__link

  &__link {
    display: flex;
    color: $mainColor;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding: 35px 15px;
    transition: $animation_speed;

    &:hover {
      color: rgba($color: $accent, $alpha: 1);
    }

    @media screen and (max-width: 1660px) {
      padding: 25px 12px;
      font-size: 15px;
    }
  }

  // .header-top__right

  &__right {
  }

  // .header-top__btn
  &__btn {
    width: 210px;
    height: 50px;
    background-color: $mainColor;
    color: $bodyColor;
    font-size: 16px;
  }
}
